<template>
    <div id="home-page" class="page">
        <HomeTopBar/>
        <br>
      <br>
      <br>
        <SlideShow/>
    </div>
</template>

<script>
    import HomeTopBar from "../components/Bars/HomeTopBar.vue";
    import SlideShow from "../components/SlideShow.vue";

    export default {
        name: 'HomePage',
        components: {
            HomeTopBar,
            SlideShow
        },
        mounted(){
            this.$store.commit('setLoading', false);
        }
    }
</script>

<style lang="scss" scoped>

html, body{
    background: #2c3e50;
}
</style>
