<template>
    <div class="page">
        <HomeTopBar/>
      <br>
      <br>
      <br>
        <div id="signup">
            <ViewSignup/>
        </div>
    </div>
</template>

<script>
    // @ is an alias to /src
    import ViewSignup from '@/components/Profile/ViewSignup.vue';
    import HomeTopBar from "../components/Bars/HomeTopBar.vue";

    export default {
        name: 'Signup',
        components: {
            ViewSignup,
            HomeTopBar
        }
    }
</script>

<style scoped lang="scss">
  #signup{
    margin-top: auto;
    height: 100vh;
    background: #2c3e50;
  }
</style>
