<template>
    <div class="page">
        <HomeTopBar/>
      <br>
      <br>
      <br>
        <div id="signin">
            <ViewSignin/>
        </div>
    </div>
</template>

<script>
    // @ is an alias to /src
    import HomeTopBar from "@/components/Bars/HomeTopBar.vue";
    import ViewSignin from "@/components/Profile/ViewSignin.vue";

    export default {
        name: 'Signin',
        components: {
            HomeTopBar,
            ViewSignin
        }
    }
</script>

<style scoped lang="scss">
  #signin{
    height: 100vh;
    background: #2c3e50;
    padding: 1em 0;
  }
</style>
