<template>
  <v-card>
    <v-toolbar color="primary" dark>
      <v-toolbar-title>Ajouter une tâche</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="closeModal">
        <i class="fas fa-times" style="font-size: 1.5em;"></i>
      </v-btn>
    </v-toolbar>
    <v-card-text>
      <v-form lazy-validation ref="form" v-model="valid">
        <v-container grid-list-md>
          <v-layout wrap>

            <!-- Nom -->
            <v-flex xs12 md6>
              <v-text-field
                label="Nom"
                v-model="newTask.title"
                :rules="[rules.required]"
                clearable
                hint="Par exemple, passer au pressing"
              ></v-text-field>
            </v-flex>

            <!-- Categorie -->
            <v-flex xs12 md6>
              <v-select
                @focus.native="selectAll"
                name="category"
                v-model="newTask.categoryId"
                label="Choisissez une catégorie"
                item-text="category.name"
                item-value="category.categoryId"
                :items="categories.categories"
                clearable
                :rules="[rules.required]"
              ></v-select>
            </v-flex>

            <!-- date de début -->
            <v-flex xs12 md6>
              <v-menu
                v-model="menuStartDate"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template slot="activator">
                  <v-text-field
                    :value="computedFormattedStartDate"
                    label="Début"
                    prepend-inner-icon="event"
                    readonly
                    :rules="[rules.required]"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newTask.startDate"
                  first-day-of-week="1"
                  :no-title="true"
                  locale="fr-fr"
                  color="red"
                  @input="menuStartDate = false"
                ></v-date-picker>
              </v-menu>
            </v-flex>

            <!-- Date de fin -->
            <v-flex xs12 md6>
              <v-menu
                v-model="menuEndDate"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template slot="activator">
                  <v-text-field
                    :value="computedFormattedEndDate"
                    label="Fin"
                    prepend-inner-icon="event"
                    readonly
                    :rules="[dateRules.compareDate, rules.required]"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newTask.endDate"
                  :no-title="true"
                  first-day-of-week="1"
                  locale="fr-fr"
                  color="red"
                  @input="menuEndDate = false"
                ></v-date-picker>
              </v-menu>
            </v-flex>

            <!-- Description -->
            <v-flex xs12 md6>
              <v-textarea
                v-model="newTask.description"
                name="taskDescription"
                label="Description"
                auto-grow
                clearable
                rows="2"
              ></v-textarea>
            </v-flex>

            <!-- Priorité -->
            <v-flex xs12 md6>
              <v-layout column align-center>
                <v-radio-group row v-model="newTask.priority" :rules="[rules.required]">
                  <v-radio
                    v-for="n in 3"
                    :key="n"
                    :label="priorities[n-1]"
                    :value="n"
                    :color="prioritiesClasses[n-1]"
                  ></v-radio>
                </v-radio-group>
              </v-layout>
            </v-flex>

            <!-- Sous tache -->
            <v-flex xs12 md6>
              <v-text-field
                v-model="newTask.subtask"
                append-outer-icon="add"
                clearable
                label="Sous-tâches"
                type="text"
                @click:append-outer="addSubtask"
                @keyup.enter="addSubtask"
                hint="Vous devez écrire quelque chose pour ajouter la sous-tâche"
              ></v-text-field>
            </v-flex>

            <!-- Liste des sous taches -->
            <v-flex xs12 md6>
              <v-list>
                <v-list-tile :key="index" v-for="(sub, index) in newTask.subtasks">
                  <v-list-tile-content>
                    <v-list-tile-title v-html="sub"></v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <i @click="deleteSubtask(sub)" class="fas fa-times"></i>
                  </v-list-tile-action>
                </v-list-tile>
              </v-list>
            </v-flex>

            <!-- Barre de recherche utilisateurs -->
            <v-flex xs12 md6>
              <v-autocomplete
                v-model="user"
                :loading="loading"
                :items="itemsUser"
                :search-input.sync="search"
                item-text="fullName"
                item-value="userId"
                cache-items
                flat
                hide-no-data
                hide-details
                label="Partager avec d'autres utilisateurs"
                @input="addUser"
              ></v-autocomplete>
            </v-flex>

            <!-- Liste des utilisateurs partagés -->
            <v-flex xs12 md6>
              <v-list>
                <template v-for="user in newTask.users">
                  <span class="userChips">
                    {{ user.fullName }}
                    <i class="fas fa-times-circle" @click="deleteUser(user)" style="font-size:1em;"></i>
                  </span>
                </template>
              </v-list>
            </v-flex>

            <!-- Date de fin de la fréquence-->
            <v-flex xs12 md6 v-show="optionsShowing">
              <v-menu
                v-model="frequenceEndDate"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template slot="activator">
                  <v-text-field
                    :value="computedFormattedEndDateFrequence"
                    label="Fin de la fréquence"
                    prepend-inner-icon="event"
                    readonly
                    :rules="[dateRules.compareDate, rules.required]"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="newTask.endDateFrequence"
                  :no-title="true"
                  first-day-of-week="1"
                  locale="fr-fr"
                  color="red"
                  @input="frequenceEndDate = false"
                ></v-date-picker>
              </v-menu>
            </v-flex>

            <!-- Frequence -->
            <v-flex xs12 md6 v-show="optionsShowing">
              <v-layout column align-center>
                <v-radio-group row v-model="newTask.frequence" :rules="[rules.required]">
                  <v-radio
                    v-for="n in 3"
                    :key="n"
                    :label="frequencies[n-1]"
                    :value="n"
                    color="grey"
                  ></v-radio>
                </v-radio-group>
              </v-layout>
            </v-flex>

          </v-layout>
        </v-container>
      </v-form>
      <!-- Bouton Annuler / Ajouter -->
      <v-card-actions>
        <v-btn class="btn-opt" color="black" flat @click="showOptions">Options</v-btn>
        <v-spacer></v-spacer>
        <v-btn color="error" flat @click="closeModal">Annuler</v-btn>
        <v-btn block color="accent" dark @click="addTask">Ajouter</v-btn>
      </v-card-actions>

    </v-card-text>
  </v-card>
</template>

<script>
import moment from 'moment'

export default {
  name: 'AddTask',
  props: ['toggleAddTask', 'categories'],
  components: {},

  data () {
    return {

      /* Objet pour la nouvelle tache */
      newTask: {
        title: '',
        description: "",
        categoryId: "",   //this.categories.categories[0].category.categoryId,
        priority: 1,
        frequence: 1,
        startDate: new Date().toISOString().substr(0, 10),
        endDate: new Date().toISOString().substr(0, 10),
        endDateFrequence: new Date().toISOString().substr(0, 10),
        subtask: '',
        subtasks: [],
        users : [],
      },

      /* Affichier les options */
      optionsShowing : false,

      /* Info de l'utilisateur */
      tokenDecoded : null,

      /* SearchBar user */
      users: [],
      itemsUser: [],
      search:null,
      user: "",
      loading: false,

      /* Paramètre bouton radio priorités*/
      priorities: ['Haute', 'Moyenne', 'Basse'],
      prioritiesClasses: ['red', 'orange', 'green'],

      /* Paramètre bouton radio fréquences*/
      frequencies: ['Journalier', 'Hebdo.', 'Mensuel'],

      /* Paramètre date de fin et début d'une tâche*/
      menuStartDate: false,
      menuEndDate: false,

      /* Paramètre date de fin de fréquence d'une tâche*/
      frequenceEndDate: false,

      /* Vérifie la validité du formulaire */
      valid: false,

      /* Paramètre de l'icon */
      icons: ['add'],

      /* Règle de date */
      dateRules: {
        compareDate: v =>
          this.newTask.endDate >= this.newTask.startDate ||
          'La date de fin ne doit pas être inférieure à celle de début'
      },
      /* Règle champs obligatoire */
      rules: {
        required: value => !!value || 'Obligatoire'
      }
    }
  },

  computed: {
    /* Changement du format de la date du début de la tache */
    computedFormattedStartDate () {
      return this.newTask.startDate
        ? moment(this.newTask.startDate).format('DD-MM-YYYY')
        : ''
    },

    /* Changement du format de la date du fin de la tache */
    computedFormattedEndDate () {
      return this.newTask.endDate
        ? moment(this.newTask.endDate).format('DD-MM-YYYY')
        : ''
    },

    /* Changement du format de la date du fin de la tache */
    computedFormattedEndDateFrequence () {
      return this.newTask.endDateFrequence
        ? moment(this.newTask.endDateFrequence).format('DD-MM-YYYY')
        : ''
    },

    /* Mise à jour de l'icon */
    icon() {
      return this.icons[this.iconIndex]
    }
  },
  watch: {
    /* Mise a jour de barre de recherche des utilisateurs */
    search (val) {
      val && val !== this.user && this.querySelections(val)
    }
  },
  mounted(){
    /* Récupération des informations des informations de l'utlisateur connecté */
    const tokenDecoded = this.parseJwt(this.$store.state.token)
      if (tokenDecoded) {
        this.tokenDecoded = tokenDecoded
      }
  },
  methods: {

    /** Méthode showOptions
     * Affiche ou non les options
     */
    showOptions() {
      if (this.optionsShowing){
        this.optionsShowing = false;
      }
      else{
        this.optionsShowing = true;
      }
    },

    /** Méthode addTask
     * Enregistre une nouvelle tâche dans la base de données
     */
    addTask () {
      if (this.$refs.form.validate()) {
        this.snackbar = true
      }
      this.newTask.startDate = this.moment(this.newTask.startDate).format(
        'YYYY-MM-DD'
      );
      this.newTask.endDate = this.moment(this.newTask.endDate).format(
        'YYYY-MM-DD'
      );
      this.newTask.endDateFrequence = this.moment(this.newTask.endDateFrequence).format(
        'YYYY-MM-DD'
      );

      if (this.newTask.endDate >= this.newTask.startDate) {
        let listUsersId = [];
        if(this.newTask.users.length != 0){
          this.newTask.users.forEach(user => {
            listUsersId.push(user.userId);
          });
        }

        window.axios
          .post('tasks', {
            title: this.newTask.title,
            description: this.newTask.description,
            categoryId: this.newTask.categoryId,
            priority: this.newTask.priority,
            startDate: this.newTask.startDate,
            endDate: this.newTask.endDate,
            subtasks: this.newTask.subtasks,
            usersId: listUsersId,
            endDateFrequence: this.newTask.endDateFrequence,
            frequence: this.newTask.frequence
          })
          .then(response => {
            this.$store.commit('setError', false);
            this.closeModal();
            this.updateTasks();
            this.updateCategories();
            this.updateFuturTasks();

            this.$store.commit('setSuccess', true);
            this.$store.commit('setSuccessMsg', "La tâche est ajoutée");
          })
          .catch(error => {
            console.log(error.response);
            this.$store.commit('setError', true);
            this.$store.commit('setErrorMsg', error.response.data.message);
          });
      } else {
        this.$store.commit('setError', true);
        this.$store.commit('setErrorMsg', 'La date de fin ne doit pas être inférieure à celle de début');
      }
    },

    /** Methode addSubtask
     * Ajoute une sous tâche dans le tableau de sous tâches
     */
    addSubtask() {
      if (this.newTask.subtask !== '') {
        this.newTask.subtasks.push(this.newTask.subtask);
        this.newTask.subtask = '';
      } else {
      }
    },

    /** Méthode deleteSubtask
     * Supprime une sous tache dans le tableau de sous tâche
     * @param {*} sub
     */
    deleteSubtask(sub) {
      let index = this.newTask.subtasks.indexOf(sub);
      if (index > -1) {
        this.newTask.subtasks.splice(index, 1);
      }
    },

    /** Méthode closeModal
     * Ferme la modal et reinitialise le formulaire
     */
    closeModal() {
        this.resetForm();
        this.$emit("close");
    },

    /** Méthode resetForm
     * Reinitialise les données du formulaires
     */
    resetForm() {
      this.$refs.form.resetValidation();
      this.newTask.title = "";
      this.newTask.description = "";
      this.newTask.categoryId = "";
      this.newTask.priority = 1;
      this.newTask.frequence = 1;
      this.newTask.startDate = new Date().toISOString().substr(0, 10);
      this.newTask.endDate = new Date().toISOString().substr(0, 10);
      this.newTask.endDateFrequence = new Date().toISOString().substr(0, 10);
      this.newTask.subtask="";
      this.newTask.subtasks = [];
      this.newTask.users = [];
    },

    /** Méthode getUsers
     * Selection une partie des utilisateur au dessus de 4 caractères
     * @param string user
     */
    getUsers(user){
      if(user.length == 4){
        window.axios
          .get('users/search?search='+user)
          .then(response => {
            let users = response.data.users;
            users.forEach(user => {
              if(user.userId != this.tokenDecoded.userId){
                this.users.push(user);
              }
            });
          })
          .catch(error => {
            this.$store.commit('setError', true);
            this.$store.commit('setErrorMsg', error.response.data.message);
          })
      }
    },

    /** Méthode querySelections
     * Recherche dans la liste des utilisateurs
     * @param string v
     */
    querySelections (v) {
      this.loading = true

      this.getUsers(v);
      setTimeout(() => {
        this.itemsUser = this.users;
        this.loading = false
      }, 500)
    },

    /** Méthode addUser
     * Ajout un utilisateur dans le tableau d'utilisateurs
     */
    addUser(){
      this.users.forEach(user => {
        if(user.userId == this.user){
          this.newTask.users.push(user);
        }
      });
      this.$nextTick(() => {
          this.user = "";
      })
    },

    /** Méthode deleteUser
     * Supprime un utilisateur du tableau d'utilisateurs
     * @param {*} user
     */
    deleteUser(user){
      let index = this.newTask.users.indexOf(user);
      if (index > -1) {
        this.newTask.users.splice(index, 1);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.v-list {
  height: 100px;
  overflow-y: auto;
}
.btn-opt {
  float: left;
}
</style>
