<template>
    <div id="futur">
        <h2>Futures taches importantes</h2>
        <div>
            <!-- Affiche les taches importantes de la prochaine période -->
            <div v-for="task in tasks.tasks" v-if="task.category.toggle && task.priority == 1 && moment(task.startDate).isBetween(startDate, endDate, null, '[]')" class="futurTask">
                <p>{{ task.title }}</p>
                <div :class="task.category.color"></div>
                <p class="date">
                    {{ moment(task.startDate).format('DD/MM') }} - {{ moment(task.endDate).format('DD/MM') }}
                </p>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "FuturTasks",
    props: ['tasks'],
    data(){
        return {
            startDate : "",
            endDate : ""
        }
    },
    mounted(){
        this.getFuturTasks();

        this.$bus.$on('updFuturTasks', () => {
            this.getFuturTasks();
        })
    },
    methods: {

        /** Methode getFuturTasks
         * Selection les futurs taches importante dans le mois suivant la date du jour
         */
        getFuturTasks () {
            let period = "Month"
            let nextDatePeriod = this.moment(this.moment().format()).add(1, period);

            this.startDate = this.moment(
                nextDatePeriod
            ).startOf(period);
            this.endDate = this.moment(
                nextDatePeriod
            ).endOf(period);
            this.startDate = this.startDate.format('YYYY-MM-DD');
            this.endDate = this.endDate.format('YYYY-MM-DD');
        },
    }
}
</script>
<style lang="scss" scoped>
#futur{
    margin-top: 2em;
    h2{
        text-align: left;
        color: white;
    }
    hr{
        border: 1px solid white;
        margin-bottom: 1em;
    }

    .futurTask{
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-bottom: 1em;
        background: white;
        border-radius: 5px;
        align-items: center;
        color: #2c3e50;

        & *{
            margin: 0.2em;
        }
        div{
            height: 1em;
            width: 2em;
            border-radius: 5px;
        }
        .date{
            grid-column-start: 1;
            grid-column-end: 3;
            font-style: italic;
            font-size: 0.8em;
            text-align: center;
        }

    }
}
.purple{
    background: #A29BFE;
}
.blue{
    background: #64B5F6;
}
.cyan{
    background: #4DD0E1;
}
.green{
    background: #66BB6A;
}
.orange{
    background: #FFB74D;
}
.brown{
    background: #A1887F;
}
</style>
