<template>
    <header id="topBarCalendar">
        <!-- Header -->
        <v-toolbar app clipped-left color="primary" fixed style="height: 70px">
          <!-- Toggle leftBar -->
            <v-btn @click.stop="toggleDrawer" icon>
                <i class="fas fa-bars" style="font-size: 1.5em;"></i>
            </v-btn>

            <!-- Nom de l'app -->
            <h1 class="hidden-sm-and-down" id="appli-tittle">MyWeek</h1>

            <v-spacer class="hidden-sm-and-down" style="margin-right: 7%"></v-spacer>

            <!-- Période pécédente -->
            <v-btn @click="prevPeriod" icon>
                <i class="fas fa-chevron-left v-icon"></i>
            </v-btn>

            <!-- Période -->
            <v-flex class="lato text-capitalize " id="periodName">
                {{this.$store.state.displayedPeriod}}
            </v-flex>

            <!-- Période suivante -->
            <v-btn @click="nextPeriod" icon>
                <i class="fas fa-chevron-right v-icon"></i>
            </v-btn>

            <v-spacer class="hidden-xs-and-down"></v-spacer>
            <!-- Bouton Aujourd'hui -->
            <v-btn @click="displayToday" class="white hidden-sm-and-down" id="today-button" round small>Aujourd'hui
            </v-btn>

            <!-- Selection du type d'affichage -->
            <v-menu class="hidden-sm-and-down" left transition="slide-y-transition">
                <template slot="activator">
                    <v-btn class="white" round small>
                        {{viewChoice}}
                        <i class="fas fa-caret-down v-icon v-icon--right"></i>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-tile :key="index" @click="chooseView(item)" v-for="(item, index) in options">
                        <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>

            <!-- Paramètres -->
            <v-btn @click="displayToday" class=" hidden-md-and-up" flat icon small>
                <i class="fas fa-calendar-day v-icon" style="font-size: 1.5em;"></i>
            </v-btn>
            <v-menu left transition="slide-y-transition">
                <template slot="activator">
                    <v-btn icon>
                        <i class="fas fa-ellipsis-v" style="font-size: 1.5em;"></i>
                    </v-btn>
                </template>

                <v-list>

                    <!-- Bloc-note -->
                    <v-list-tile @click.stop="dialoguePostit = true" avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>Bloc-note</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-avatar>
                            <i class="fas fa-file"></i>
                        </v-list-tile-avatar>
                    </v-list-tile>

                    <!-- Profil -->
                    <v-list-tile @click.stop="dialogProfil = true" avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>Profil</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-avatar>
                            <i class="fas fa-user"></i>
                        </v-list-tile-avatar>
                    </v-list-tile>

                    <!-- Export -->
                    <v-list-tile @click="exportCalendar" avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>Exporter</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-avatar>
                            <i class="fas fa-file-download"></i>
                        </v-list-tile-avatar>
                    </v-list-tile>

                    <!-- Import -->
                    <v-list-tile @click="dialogImport = true" avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>Importer</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-avatar>
                            <i class="fas fa-file-upload"></i>
                        </v-list-tile-avatar>
                    </v-list-tile>

                    <!-- Imprimer -->
                    <v-list-tile @click="print" avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>Imprimer</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-avatar>
                            <i class="fas fa-print"></i>
                        </v-list-tile-avatar>
                    </v-list-tile>

                    <!-- Se déconnecter -->
                    <v-list-tile @click="logout" avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>Se déconnecter</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-avatar>
                            <i class="fas fa-sign-out-alt"></i>
                        </v-list-tile-avatar>
                    </v-list-tile>

                </v-list>
            </v-menu>

            <!-- Edition du bloc-note -->
            <v-dialog v-model="dialoguePostit" persistent max-width="40%" :fullscreen="$vuetify.breakpoint.smAndDown" lazy>
                <Postit @closeDialoguePostit="dialoguePostit = false"/>
            </v-dialog>

            <!-- Edition du profil -->
            <v-dialog v-model="dialogProfil" persistent max-width="40%" :fullscreen="$vuetify.breakpoint.smAndDown" lazy>
                <Profile @closeDialogProfil="dialogProfil = false"/>
            </v-dialog>

            <!-- Import -->
            <v-dialog v-model="dialogImport" width="500">
                <v-card>
                    <v-toolbar color="primary" dark>
                        <v-toolbar-title>Importer</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn @click="dialogImport = false; alertImport = false" icon>
                            <i class="fas fa-times" style="font-size: 1.5em;"></i>
                        </v-btn>
                    </v-toolbar>
                    <v-card-text>
                        <ViewImport :imported="alertImport"></ViewImport>
                    </v-card-text>
                    <v-divider></v-divider>
                </v-card>
            </v-dialog>
        </v-toolbar>
    </header>
</template>

<script>
  import ViewImport from '@/components/ICS/ViewImport'
  import Profile from '@/components/Profile/Profile'
  import Postit from '@/components/Postit'

  export default {
    name: 'topbar',
    props: ['drawer', 'tokenDecoded', 'tasks'],
    components: { ViewImport, Profile, Postit },
    data () {
      return {
        /* Options affichage du select */
        options: [
          { text: 'Mois', value: 'Month' },
          { text: 'Semaine', value: 'Week' },
          { text: 'Liste', value: 'List' }
        ],

        /* Vue choisi par l'utilisateur */
        viewChoice: this.$store.state.viewChoice,

        /* Affichage des modals */
        viewPostit: false,
        viewProfile: false,
        dialogImport: false,
        alertImport: false,
        dialogProfil: false,
        dialoguePostit: false,
      }
    },
    mounted () {
    },
    methods: {

      /** Méthode exportCalendar
       * Exporte l'ensemble des taches
       */
      exportCalendar () {
        let calendar = this.ics() //Script de .ics
        this.tasks.tasks.forEach(task => {
          calendar.addEvent(task.title, task.description, task.progression, task.startDate, task.endDate)
        })
        calendar.download('ExportCalendar')
        this.$store.commit('setSuccess', true)
        this.$store.commit('setSuccessMsg', "Export effectué")
      },

      /** Méthode chooseView
       * Met à jour le store avec la vue choisie dans le formulaire
        */
      chooseView (v) {
        this.viewChoice = v.text
        this.$store.commit('setViewChoice', v.value)
        this.updateReferenceDate(this.$store.state.referenceDatePeriod)

        this.updateTasks()
        this.updateFuturTasks()
      },

      /** Méthode displayToday
       * Remet la date de référence à la date du jour
       * pour afficher la période correspondante
        */
      displayToday () {
        this.updateReferenceDate(this.moment())
      },

      /** Méthode prevPeriod
       * Affiche la période précédente
        */
      prevPeriod () {
        const date = this.$store.state.referenceDatePeriod
        let newDate = date
        let period = ''
        switch (this.$store.state.viewChoice) {
          case 'Week':
            period = 'weeks'
            break
          default: // vue mois par defaut
            period = 'months'
            break

        }
        newDate = date.subtract(1, period)
        this.updateReferenceDate(newDate)
        this.updateFuturTasks()
        this.updateTasks()
        this.updateCategories()
      },

      /** Méthode nextPeriod
       * Affiche la période suivante
        */
      nextPeriod () {
        const date = this.$store.state.referenceDatePeriod
        let newDate = date
        let period = ''
        switch (this.$store.state.viewChoice) {
          case 'Week':
            period = 'weeks'
            break
          case 'Day':
            period = 'days'
            break
          case 'Year':
            period = 'years'
            break
          default: // vue mois par defaut
            period = 'months'
            break

        }
        newDate = date.add(1, period)
        this.updateReferenceDate(newDate)
        this.updateFuturTasks()
        this.updateTasks()
        this.updateCategories()
      },

      /** Méthode toggleLeftAside
       * Affiche ou cache la barre latérale gauche
        */
      toggleLeftAside () {
        if (this.$store.state.toggleLeftAside) {
          this.$store.commit('setLeftAside', false)
          this.$store.commit('toggleMainFullScreen', true)

        } else {
          this.$store.commit('setLeftAside', true)
          this.$store.commit('toggleMainFullScreen', false)

        }
      },

      /** Méthode togglePostit
       * Afficher / Ferme le profil
        */
      togglePostit () {
        if (this.viewPostit) {
          this.viewPostit = false
        } else {
          this.viewPostit = true
        }
      },

      /** Méthode toggleProfile
       * Afficher / Ferme le profil
        */
      toggleProfile () {
        if (this.viewProfile) {
          this.viewProfile = false
        } else {
          this.viewProfile = true
        }
      },

      /** Méthode toggleDrawer
       * Afficher / Ferme la leftbar en mobile
        */
      toggleDrawer () {
        if (this.drawer.permanent) {
          this.drawer.permanent = !this.drawer.permanent
          // set the clipped state of the drawer and toolbar
          this.drawer.clipped = true
        } else {
          // normal drawer
          this.drawer.open = !this.drawer.open
        }
      },

      /** Méthode print
       * Imprime
        */
      print () {
        window.print()
      },

      /** Méthode logout
       * Déconnecte l'utilisateur
        */
      logout () {
        window.axios.delete('logout').then((response) => {
          this.$store.commit('setToken', false)
          this.setToken(false)
          this.$router.push('/')
        })
      }
    }
  }

</script>

<style lang="scss" scoped>
    #topBarCalendar {
        grid-area: topBar;
    }

    .lato {
        font-family: 'Lato';
        font-size: 1.5em;
    }

    #appli-tittle {
        font-family: 'Pacifico';
        font-size: 2em;
        font-weight: 1;
    }

    @media only screen and (min-width: 960px) {
        #periodName {
            min-width: 220px;
            max-width: 500px
        }
    }
    @media only screen and (max-width: 600px) {
        .lato {
            font-family: 'Lato';
            font-size: 1.2em;
        }
    }
    @media print {
        #topBarCalendar {
            display: none;
        }
        .setting{
            display: none;
        }
    }

</style>
