<template>
    <!-- Snackbar error -->
    <v-snackbar
        v-model="$store.state.error.is"
        :top="true"
        :auto-height="true"
    >
      <span>{{ $store.state.error.msg }}</span>
      <v-btn
        color="pink"
        flat
        @click="close"
      >
        Close
      </v-btn>
    </v-snackbar>
</template>
<script>
export default {
    name: 'Error',
    methods: {

      /** Méthode close
       * Ferme la snackbar
        */
      close(){
        this.$store.commit('setError', false);
      }
    }
}
</script>
<style lang="scss" scoped>
span{
  font-size: 1.2em;
  color:#E91E63;
}
</style>

