<template>
  <!-- Snackbar de success -->
    <v-snackbar
        v-model="$store.state.success.is"
        :top="true"
        :auto-height="true"
        :timeout="3000"
        color="#00E676"
    >
      <span>{{ $store.state.success.msg }}</span>
      <v-btn
        color="white"
        flat
        @click="close"
      >
        Close
      </v-btn>
    </v-snackbar>
</template>
<script>
export default {
    name: 'Success',
    methods: {

      /** Méthode close
       * Ferme la snackbar
        */
      close(){
        this.$store.commit('setSuccess', false);
      }
    }
}
</script>
<style lang="scss" scoped>
span{
  font-size: 1.2em;
  color:white;
}
</style>

