<template>
  <div>
        <template>
            <template v-for="(dateCase, index) in $store.state.daysList">
                <!-- Affichage des tâches -->
                <v-layout :class="'task '+task.category.color"
                     @click.stop="viewDetailTask(task)"
                     v-for="task in tasks.tasks"
                     v-if="validateDate(task, dateCase)"
                     :align-content-space-around="true">
                    
                    <!-- Nom de la tache -->
                    <v-flex xs4 class="text-capitalize">{{ task.title }}</v-flex>

                    <!-- Priorité -->
                    <v-flex xs1>
                      <template v-if="task.priority === 1">
                          <i class="fas fa-circle redCircle"></i>
                      </template>
                      <template v-if="task.priority === 2">
                          <i class="fas fa-circle orangeCircle"></i>
                      </template>
                      <template v-if="task.priority === 3">
                          <i class="fas fa-circle greenCircle"></i>
                      </template>
                    </v-flex>
                    
                    <!-- Date de début et fin -->
                    <v-flex xs10 md3>{{ moment(task.startDate).format('DD/MM/YYYY') }} - {{ moment(task.endDate).format('DD/MM/YYYY') }}</v-flex>
                    
                    <!-- Progression -->
                    <v-flex xs0 md5>
                      <vue-slider md6 @drag-end="editProgression(task)" class="progressBar" v-bind="progress"
                        v-model="task.progression"></vue-slider>
                    </v-flex>
                </v-layout>
            </template>
        </template>
        <transition name="fade">
            <!-- Détail d'une tache  -->
            <v-dialog :fullscreen="$vuetify.breakpoint.smAndDown" lazy max-width="60%" persistent
                      v-model="displayDetailTask">
                <ViewTask :categories="categories" :detailTask="detailTask" @toggleViewDetailTask="toggleViewDetailTask"
                          v-if="displayDetailTask"/>
            </v-dialog>
        </transition>
    </div>
</template>
<script>
  import vueSlider from 'vue-slider-component'
  import ViewTask from '@/components/Task/ViewTask.vue'
  import moment from 'moment'

  export default {
    name: 'ListView',
    props: ['tasks', 'categories'],
    components: {
      vueSlider,
      ViewTask
    },
    data () {
      return {
        /* Affiche / Ferme viewTask */
        displayDetailTask: false,

        /* Tache selectionné */
        detailTask: '',

        /* Paramètre de vue-slider */
        progress: {
          width: '70%',
          tooltip: 'focus',
          disabled: false,
          piecewise: true,
          piecewiseLabel: true,
          data: [
            'Pas Fait',
            'En cours',
            'Fini',
          ],
          piecewiseStyle: {
            backgroundColor: '#ccc',
            visibility: 'visible',
            width: '12px',
            height: '12px',
          },
          piecewiseActiveStyle: {
            backgroundColor: '#3498db',
          },
          labelStyle: {
            color: '#FFFFFF',
          },
          bgStyle: {
            'backgroundColor': '#fff',
            'boxShadow': 'inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)',
          },
          sliderStyle: [
            {
              'backgroundColor': '#FFCC80',
            },
            {
              'backgroundColor': '#A5D6A7',
            }
          ],
          processStyle: {
            'backgroundImage': '-webkit-linear-gradient(left, #FFCC80, #A5D6A7)',
          }
        },
      }
    },
    methods: {

      /** Méthode validateDate
       * Verifie si une tache est dans le le mois affiché
       * @param {*} task
       * @param {*} dateCase
       */
      validateDate (task, dateCase) {
        if (task.category.toggle) {
          if (moment(dateCase.date).format('MM') === moment(this.$store.state.referenceDatePeriod).format('MM') && moment(dateCase.date).isSame(task.startDate)) {
            task.firstDate = true
            return true
          } else if (!task.firstDate && moment(dateCase.date).format('MM') === moment(this.$store.state.referenceDatePeriod).format('MM') && moment(dateCase.date).isSame(task.endDate)) {
            task.lastDate = true
            return true
          } else if (moment(dateCase.date).format('DD') == 1 && moment(dateCase.date).format('MM') === moment(this.$store.state.referenceDatePeriod).format('MM') && moment(dateCase.date).isBetween(task.startDate, task.endDate, 'month')) {
            return true
          }
        }
      },

      /** Méthode editProgression
       * Edition de la progression d'une tache
       * @param {*} task
        */
      editProgression (task) {
        window.axios.patch('tasks/' + task.taskId, {
          progression: task.progression,
        }).then((response) => {
          this.$store.commit('setError', false);
        }).catch((error) => {
          this.$store.commit('setError', true);
          this.$store.commit('setErrorMsg', error.response.data.message);
        })
      },

      /** Méthode viewDetailTask
       * Affiche le détail d'une tache
       * @param {*} task
        */
      viewDetailTask (task) {
        this.editProgression(task)
        this.detailTask = task
        this.toggleViewDetailTask(true)
      },

      /** Méthode toggleViewDetailTask
       * Affiche / Ferme la modal de détail d'une tache
       * @param bool toggle
       */
      toggleViewDetailTask (toggle) {
        this.displayDetailTask = toggle
      },
    }
  }
</script>
<style lang="scss" scoped>
  .task{
    margin: auto;
    margin-top: 1em;
    width: 90%;
    padding: 1em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  @media screen and (max-width: 640px){
    .progressBar{
      display: none;
    }
  }

  .redCircle {
      color: #F44336;
  }

  .orangeCircle {
      color: #FFAB00;
  }

  .greenCircle {
      color: #64DD17;
  }
</style>
