<template>
    <v-card class="light flexcard">
        <!-- Header -->
        <v-toolbar
                color="primary"
                dark
        >
            <v-toolbar-title >Bloc-note</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click="editMode = true" v-if="!editMode">
                <i class="fas fa-pen" style="font-size: 1.5em;"></i>
            </v-btn>
            <v-btn icon  @click="closePostit" >
                <i class="fas fa-times" style="font-size: 2em;"></i>
            </v-btn>
        </v-toolbar>

        <!-- Main -->
        <v-card-text class="grow" v-if="!editMode">
            <v-container grid-list-md>
                <v-layout wrap>

                    <!-- Contenu -->
                    <v-flex>
                        <v-layout>
                            <div class="pre-formatted" style="text-align: left">{{ contenu }}</div>
                        </v-layout>
                    </v-flex>

                </v-layout>
            </v-container>
        </v-card-text>

        <!-- Edit bloc-note -->
        <v-card-text class="grow" v-else>
            <v-container grid-list-md>
                <v-layout wrap>
                    <!-- Contenu -->
                    <v-flex>
                        <textarea rows="13" min-rows="13" 
                                style="white-space: pre-line; min-width: 100%; min-height: 100%;"
                                v-model="contenu"
                                :rules="[rules.required]"
                                clearable
                        >
                        </textarea>
                    </v-flex>

                </v-layout>
            </v-container>
        </v-card-text>
        <v-spacer></v-spacer>

        <!-- Bouton Annuler / Enregistrer -->
        <v-card-actions v-if="editMode">
            <v-spacer></v-spacer>
            <v-btn
                    color="error"
                    flat
                    @click="editMode = false"
            >
                Annuler
            </v-btn>
            <v-btn
                    color="success"
                    block
                    @click="modifyPostit"
            >
                Enregistrer
            </v-btn>
        </v-card-actions>

    </v-card>
</template>

<script>
    export default {
        name: "Postit",

        data() {
            return {

                /* Détail du profil */
                userId: '',
                contenu : '',

                /* Afficher / Fermer l'édition du profil */
                editMode: false,

                /* Règle des champs obligatoires */
                rules: {
                    required: value => !!value || "Obligatoire"

                },
            }
        },
        computed: {

        },

        mounted() {

            /* Récupération du Postit de l'utilisateur */
            const tokenDecoded = this.parseJwt(this.$store.state.token);
            if (tokenDecoded) {
                this.userId = tokenDecoded.userId;
                window.axios.get('postits/' + this.userId, {

                }).then((response) => {
                    const postit = response.data.postit;
                    this.contenu = postit.content;

                    this.$store.commit('setError', false);
                }).catch((error) => {
                    this.$store.commit('setError', true);
                    this.$store.commit('setErrorMsg', error.response.data.message);
                });
            }
        },

        methods : {

            /** Méthode closePostit
             * Ferme l'édition du bloc-note
             */
            closePostit() {
                this.editMode = false;
                this.$emit('closeDialoguePostit');

            },

            /** Méthode modifyPostit
             * Enregistre les modification du bloc-note
              */
            modifyPostit() {
                if(this.password !== '' && this.password !== this.verifPassword) {
                    this.$store.commit('setError', true);
                } else {

                    window.axios.patch('postits/' + this.userId, {
                        content : this.contenu

                    }).then((response) => {
                        this.$store.commit('setError', false);
                        this.$store.commit('setSuccess', true);
                        this.$store.commit('setSuccessMsg', "Vos modifications ont bien été enregistrées ");
                        this.editMode = false;

                    }).catch((error) => {
                        this.$store.commit('setError', true);
                        this.$store.commit('setErrorMsg', error.response.data.message);
                    })
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
.flexcard {
  display: flex;
  flex-direction: column;
}
.v-card {
  height: 500px;
  overflow-y: auto;
}
.pre-formatted {
  white-space: pre;
}

</style>
