<template>
    <hooper id="slideshow" :autoPlay="true" :playSpeed="3000">

        <!-- Slide 1 -->
        <slide>
            <div class="slide">
                <img src="../assets/girl.svg" class="character"/>
                <p>
                    Vous avez des tâches à planifier ?
                </p>
            </div>
        </slide>

        <!-- Slide 2 -->
        <slide>
            <div class="slide green">
                <img src="../assets/man.svg" class="character"/>
                <p>
                    MyWeek est la solution à vos problèmes !
                </p>
            </div>
        </slide>
    </hooper>
</template>

<script>
    import { Hooper, Slide} from 'hooper';
    import 'hooper/dist/hooper.css';

    export default {
        name: 'SlideShow',
        components: {
            Hooper,
            Slide
        },
    }
</script>

<style lang="scss" scoped>
    #slideshow{
        height: 100%;
        .slide{
            padding-top: 1em;
            display: grid;
            grid-template-columns: 5fr 3fr;
            grid-template-rows: 100%;
            justify-items: center;
            align-content: space-around;
            align-items: center;
            background: #2c3e50;
            height: 100%;
        }

        .green{
            background: #66cc99;
        }
        p{
            font-weight: bold;
            font-size: 3em;
            color: white;
        }
        .character{
            width: 600px;
            height: auto;
        }
    }
</style>
